*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --primary-color: #ffffff;
  --secondary-color: #ebedef;
  --solid-border: rgba(51, 51, 51, 0.2);
  --text-color: #000;
}

.dark-theme {
  --primary-color: #313338;
  --secondary-color: #383a40;
  --text-color: #ffffff;
}


body {
  font: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.main-page {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: var(--primary-color);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
}

/* PAGE TOP */

.top-page {
  position: fixed;
  top: 0;
  right: 0;
  flex-shrink: 0;
  width: 90%;
  height: 40px;
  background: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--solid-border);
}

.dark-theme-switch {
  width: 100px;
  display: flex;
  align-items: center;

}

.dark-theme-switch img {
  width: 30px;
  margin-right: 5px;
  cursor: pointer;
}

/* AVATAR */
.avatar-border {
  width: 10%;
  height: 100%;
  position: absolute;
  border-right: 1px solid var(--solid-border);
  left: 0px;
  background: var(--secondary-color);
}

/* CHAT SECTION */
.conversation {
  width: 70%;
  margin: 0 auto;
  display: block;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: scroll;

}

textarea {
  background: var(--primary-color);
  color: var(--text-color);
}

.talk {
  margin: 20px 0;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 50%;
}

.talk img {
  width: 50px;
  border-radius: 50%;
  margin-bottom: auto;
}

.talk p {
  padding: 15px;
  line-height: 25px;
  border-radius: 25px;
}

.right {
  margin-left: auto;
}

.right p {
  margin-right: 10px;
  background: var(--secondary-color);
  background: var(--text-color);
}

.left p {
  margin-left: 10px;
  background: var(--secondary-color);
  color: var(--text-color);
}

/* **FORM** */

.chat-form {
  position: fixed;
  bottom: 0;
  right: 0;
  flex-shrink: 0;
  width: 90%;
  height: 90px;
  border-radius: 25px;
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-inputs-stuffs {
  background: var(--primary-color);
  display: flex;
  width: 90%;
  height: 60px;
  border-radius: 20px;
}

.group-inp {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-inp img {
  width: 30px;
}

.group-inp textarea {
  resize: none;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.files-logo-cont {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 10px;
  display: block;
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.files-logo-cont img {
  width: 30px;
}

.submit-msg-btn {
  background: var(--primary-color);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 70px;
  border: none;
  display: flex;
  padding-right: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.submit-msg-btn img:hover,
.group-inp img:hover,
.files-logo-cont img:hover {
  background-color: var(--secondary-color);
}

.submit-msg-btn img {
  width: 30px;
}